.git
.github
.idea
.vs
.vscode
**/bin
**/obj
**/TestResults
artifacts
.tools
**/.env
**/.env.*
**/secrets.json
**/appsettings*.json
**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/kubeconfig*
**/.kube
**/.docker
**/*.user
**/*.log
